# 環境変数
.env
.env.*
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# 依存パッケージ
node_modules/

# Build
.next/
dist/
build/
out/

# Logs
*.log
*.log.*.old
*.pid

# Keys
*.pem
*.key

# Supabase
supabase/.temp/
